services:
  postgres:
    container_name: postgres
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: test
      POSTGRES_USER_FILE: /run/secrets/postgres-user
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres-password
    secrets:
      - postgres-user
      - postgres-password
    ports:
      - '5432:5432'
    networks:
      - network
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $(cat /run/secrets/postgres-user) -d $POSTGRES_DB']
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:4-management
    environment:
      RABBITMQ_DEFAULT_USER: test
      RABBITMQ_DEFAULT_PASS: test
    ports:
      - '5672:5672'
      - '15672:15672'
    networks:
      - network
    volumes:
      - ./rabbitmq_data:/var/lib/rabbitmq
      - ./rabbitmq_logs:/var/log/rabbitmq

  prometheus:
    image: prom/prometheus
    volumes:
      - './prometheus.yml:/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090

networks:
  network:
    driver: bridge

volumes:
  postgres_data:
  rabbitmq_data:

secrets:
  postgres-user:
    file: ./apps/products/.secrets/postgres-user
  postgres-password:
    file: ./apps/products/.secrets/postgres-password
